<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]
</IfModule>

# what this file does is removing the '/public' in the url and also doenst prompt the forbidden access for app folder 